/* Body Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #fce0e6;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #333;
}

/* Content Layout */
.content {
  margin-top: 30px;
}

/* Header */
h1 {
  color: #e6005c;
  font-size: 28px;
}

h2 {
  color: #e6005c;
  font-size: 24px;
}

/* Custom Messages */
p {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}

/* Next Button */
button {
  background-color: #e6005c;
  color: white;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  font-size: 18px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff3366;
}

/* Page Styling */
.message-page {
  display: block;
  margin-bottom: 30px;
}

/* Password Form */
.password-form input {
  padding: 12px;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 70%;
}

.password-form button {
  background-color: #e6005c;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
}

#protected-content img {
  width: 100%;
  max-width: 350px;
  margin: 10px;
  border-radius: 10px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 18px;
  }

  button {
    font-size: 16px;
    padding: 10px 25px;
  }

  .gallery-img {
    width: 80%;
    max-width: 300px;
  }

  .password-form input {
    width: 80%;
  }
}
